[Unit]
Description=Spring Boot AWS Study App
After=network.target

[Service]
User=ec2-user
WorkingDirectory={{ app_dir }}
ExecStart=/usr/bin/java -jar {{ app_dir }}/{{ app_file }} --spring.config.location={{ app_dir }}/application.properties
SuccessExitStatus=143
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
